.img-res {
  object-fit: cover;
  object-position: center;
}

/* || Square Image  */
.img-square {
  aspect-ratio: 2/1;
  width: 100%;
  border-radius: 5px;
}

/* || Rounded Imaage  */
.img-round-container {
  padding: 1rem;
  border-radius: 50%;
}

.img-round {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}