/* Style guide */

/* || Reset */

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* || Typography  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Text Size */
.txt-h1 {
  font-size: 48px;
  line-height: 64px;
}

.txt-h2 {
  font-size: 32px;
  line-height: 40px;
}

.txt-h3 {
  font-size: 24px;
  line-height: 32px;
}

.txt-h4 {
  font-size: 16x;
  line-height: 24px;
}

.txt-h5 {
  font-size: 10px;
  line-height: 16px;
}

/* Text alignment */
.txt-center {
  text-align: center;
}

.txt-start {
  text-align: start;
}

.txt-end {
  text-align: end;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

/* Different Font weights */
.fw-900 {
  font-weight: 900;
}

.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.fw-200 {
  font-weight: 200;
}

.fw-100 {
  font-weight: 100;
}


/* Text colors */
.txt-primary {
  color: var(--color-primary)
}

.txt-secondary {
  color: var(--color-secondary);
}

.txt-white {
  color: var(--color-white);
}

.txt-green {
  color: var(--color-green);
}

.txt-red {
  color: var(--color-red);
}

.txt-yellow {
  color: var(--color-yellow);
}


/* || Root */
:root {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;

  /* Colors */
  --color-primary: #05445e;
  /*Navy Blue*/
  --color-primary-dark: #043246;
  /* #02212e*/
  --color-primary-light: #ddf3f8;
  --color-primary-hover: #dbeafe;

  --color-secondary: #075f83;
  --color-text: #374151;
  --color-background: #edf9fe;
  --color-navbar: #eef4f5;

  --color-gray: #6b7280;
  --color-gray-dark: #4b5563;
  --color-gray-light: #e5e7eb;

  --color-green: #16a34a;
  --color-green-dark: #14532d;
  --color-green-light: #d9f99d;

  --color-pink: #db2777;
  --color-pink-dark: #be185d;

  --color-red: #ef4444;
  --color-red-dark: #b91c1c;
  --color-red-light: #fecaca;

  --color-offwhite: #d1d5db;
  --color-orange: #f97316;

  --color-yellow: #facc15;
  --color-yellow-dark: #a16207;
  --color-yellow-hover: #eab308;
  --color-yellow-light: #fef08a;

  --color-violet: #8b5cf6;
  --color-violet-dark: #6d28d9;

  --color-black: #000000;
  --color-white: #ffffff;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-red {
  background-color: var(--color-red);
}

.bg-green {
  background-color: var(--color-green);
}

.bg-green-dark {
  background-color: var(--color-green-dark);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-orange {
  background-color: var(--color-orange);
}

.bg-violet {
  background-color: var(--color-violet);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-pink {
  background-color: var(--color-pink);
}

/* ||Hover classes */
.bg-green-hover {
  background-color: var(--color-green);
}

.bg-green-hover:hover {
  background-color: #15803d;
}

.bg-grey-hover {
  background-color: var(--color-gray);
}

.bg-grey-hover:hover {
  background-color: var(--color-gray-dark);
}

.bg-pink-hover {
  background-color: var(--color-pink);
}

.bg-pink-hover:hover {
  background-color: var(--color-pink-dark);
}

.bg-red-hover {
  background-color: var(--color-red);
}

.bg-red-hover:hover {
  background-color: var(--color-red-dark);
}

.bg-yellow-hover {
  background-color: var(--color-yellow);
}

.bg-yellow-hover:hover {
  background-color: #eab308;
}

.bg-violet-hover {
  background-color: var(--color-violet);
}

.bg-violet-hover:hover {
  background-color: var(--color-violet-dark);
}

.cursor-p {
  cursor: pointer;
}
.bg-gray{
  background-color: var(--color-gray);
}

/* ||Text colors */
.txt-white {
  color: var(--color-white);
}

.txt-green {
  color: var(--color-green);
}

.txt-red {
  color: var(--color-red);
}

.txt-yellow {
  color: var(--color-yellow);
}

/* || Flex properties */
.flx-row {
  display: flex;
  flex-direction: row;
}

/*  */
.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-center {
  align-items: center;
  justify-content: center;
}

.flx-main-center {
  align-items: center;
}

.flx-cross-center {
  justify-content: center;
}

.flx-wrap{
  flex-wrap: wrap;
}
/* || Spacing */
.vertical-gutter-lg {
  margin-top: 2.4rem;
}

.vertical-gutter-md {
  margin-top: 1.6rem;
}

.vertical-gutter-sm {
  margin-top: 0.8rem;
}

/* || Border radius */
.brad-5 {
  border-radius: 5px;
}

.brad-10 {
  border-radius: 10px;
}

.brad-15 {
  border-radius: 15px;
}

.pd-1 {
  padding: 4px;
}

.pd-2 {
  padding: 8px;
}

.pd-3 {
  padding: 16px;
}

.pd-4 {
  padding: 24px;
}

.pd-5 {
  padding: 32px;
}
/* || Imagery */

img,
video,
iframe {
  max-inline-size: 100%;
  /* same */
  block-size: auto;
  /* same */
  /* aspect-ratio:2/1; according to use */
  /* object-fit: contain | cover;  according to use */
  /* object-position: top center  according to use */
}

/* || Media queries */
