@import "/components/component.css";

/* || Vertical card  */
.ver-card {
  border: 2px solid var(--color-offwhite);
  border-radius: 10px;
  margin: 1rem;
  font-size: 1.6rem;
  padding: 0.8rem;
  width: 25rem;

  position: relative;
}

.content-img img {
  width: 100%;
  height: 65%;
  border-radius: 5px;
}

.ver-card-overlay {
  position: absolute;
  width: 93%;
  box-sizing: border-box;
}

.overlay-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.overlay-btns button {
  background: var(--color-gray-light);
  border-radius: 50%;
  margin: 4px 2px 0 0;

  padding: 6px;
  font-size: 2rem;
}

.overlay-btns button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-title {
  color: var(--color-gray);
}

.card-desc {
  color: var(--color-black);
  font-size: bold;
}

.card-review {
  margin-top: 0.8rem;
}

.card-review-rating {
  margin: 0rem;
  color: var(--color-black);
  display: inline-block;
}

.card-price {
  margin-top: 0.8rem;
  gap: 10px;
}

.card-price-sp {
  font-weight: bold;
}

.card-price-mrp {
  text-decoration: line-through;
  color: var(--color-gray);
}

.card-price-disc {
  color: var(--color-green);
}

.card-btn {
  margin: 0.8rem 0 0 0;
  color: var(--color-black);
}

.card-btn:hover {
  opacity: 0.9;
}

.card-delivery {
  color: var(--color-green);
  font-weight: bold;
  margin-top: 0.8rem;
}

/* || Card with badges */

.overlay-btns button {
  margin-left: auto;
}

.overlay-btns span {
  /* margin: 0rem; */
  border-radius: 5px;
  margin: 0rem;
  height: 3rem;
}

/* || Text only Cards  */

.txt-card {
  width: 35rem;
}

.txt-card-headings {
  color: var(--color-secondary);
  font-weight: bold;
}

.txt-card-title {
  font-size: 2.4rem;
}

.txt-card-subtitle {
  font-size: 1.2rem;
}

.txt-card-content {
  margin-top: 8px;
}

.txt-card-btns {
  align-items: center;
  margin-top: 8px;
}

.txt-card-btns-prime {
  margin: 0rem;
  margin-right: auto;
}

.txt-card-btns i {
  padding: 1rem;
}

.txt-card-btns i:hover {
  cursor: pointer;
}

/* || Card with dismiss buttons  */
.txt-card-dismiss {
  justify-content: space-between;
}

.txt-card-dismiss-icon {
  font-size: 1.6rem;
}

.txt-card-dismiss i:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* || Card with text overlay  */
.overlay-full {
  height: 95%;
}

.overlay-full-btns {
  height: inherit;

  justify-content: center;
  align-items: center;
}

.overlay-full-txt {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-red);
}

.op {
  opacity: 0.5;
}

.op button:hover {
  cursor: default;
  opacity: 1;
}

.op img {
  opacity: 0.5;
}

/* || Card with shadow  */

.card-shadow {
  box-shadow: 0 0 10px 3px var(--color-gray);
}

/* || Horizontal card  */
.horz-card {
  border: 2px solid var(--color-offwhite);
  border-radius: 10px;
  margin: 1rem;
  font-size: 1.6rem;
  padding: 0.8rem;
  height: 25rem;
  width: 45rem;
  position: relative;
}

.horz-card-content {
  gap: 10px;
}


.horz-content-img {
  height: 23rem;
  width: 40rem;
}

.horz-content-img img {
  height: 100%;
  border-radius: 5px;
}

.horz-card button {
  width: 100%;
}