.btn {
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1.6rem;
    padding: 1.2rem 2.4rem;
}

/* || Button types styles  */
.btn-solid {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-solid:hover {
    background-color: var(--color-primary-dark);
}

.btn-disabled {
    background-color: var(--color-primary);
    color: white;
    cursor: default;
    opacity: 0.5;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    padding: 1rem 2.2rem;
}

.btn-outline:hover {
    background-color: var(--color-primary-hover);
}

.btn-ghost {
    background-color: transparent;
    color: var(--color-primary);
}

.btn-ghost:hover {
    background-color: var(--color-primary-hover);
}

.btn-link {
    background-color: transparent;
    color: var(--color-primary);
}

.btn-link:hover {
    text-decoration: 2px underline;
}

/* || Buttons sizes styles */
.btn-xs {
    font-size: 1rem;
    padding: 0.6rem 1.8rem;
}

.btn-sm {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
}

.btn-md {
    /* same as normal solid button */
    font-size: 1.6rem;
    padding: 1.2rem 2.4rem;
}

.btn-lg {
    font-size: 2.4rem;
    padding: 2rem 3.2rem;
}

/* || Colored solid buttons */
.btn-secondary {
    background-color: var(--color-gray);
}

.btn-secondary:hover {
    background-color: var(--color-gray-dark);
}

.btn-success {
    background-color: var(--color-green);
}

.btn-success:hover {
    background-color: #15803d;
}

.btn-warning {
    background-color: var(--color-yellow);
}

.btn-warning:hover {
    background-color: #eab308;
}

.btn-error {
    background-color: var(--color-red);
}

.btn-error:hover {
    background-color: var(--color-red-dark);
}

/* ||Outline buttons */
.btn-outline-secondary {
    border: 2px solid var(--color-gray);
    color: var(--color-gray);
}

.btn-outline-secondary:hover {
    background-color: var(--color-gray-light);
}

.btn-outline-success {
    border: 2px solid var(--color-green);
    color: var(--color-green);
}

.btn-outline-success:hover {
    background-color: var(--color-green-light);
}

.btn-outline-warning {
    border: 2px solid var(--color-yellow);
    color: var(--color-yellow);
}

.btn-outline-warning:hover {
    background-color: var(--color-yellow-light);
}

.btn-outline-error {
    border: 2px solid var(--color-red-dark);
    color: var(--color-red-dark);
}

.btn-outline-error:hover {
    background-color: var(--color-red-light);
}

/* ||Button with icons */
.btn-settings {
    background-color: var(--color-pink);
}

.btn-settings:hover {
    background-color: var(--color-pink-dark);
}

/* ||Floating buttons */
.btn-float {
    border-radius: 50%;
    box-shadow: 5px 5px 10px var(--color-gray-dark);
    font-size: 2.4rem;
    margin: 1rem;
    padding: 2rem 2rem;
}