<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Futbolt UI|Docs</title>
    <link rel="stylesheet" href="/documentation/documentation.css" />
    <script
      src="https://kit.fontawesome.com/0a41da8839.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/components/avatar/avatar.css" />
  </head>

  <body>
    <!-- || Container  -->
    <div class="container">
      <!-- || Navbar starts -->
      <nav class="navbar flx-row flx-main-center">
        <div class="navbar-logo">
          <img src="/assets/images/futbolt-lg.png" alt="" loading="eager" />
        </div>
        <div class="navbar-title">Futbolt UI</div>
        <div class="navbar-links">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="#" class="navbar-links-active">Docs</a></li>
            <li>
              <a href="https://github.com/sks-21/Futbolt-Component-Library">
                <i class="fab fa-github"></i> Github</a
              >
            </li>
          </ul>
        </div>
      </nav>

      <!-- || Side Menu starts   -->
      <aside class="menu flx-column flx-main-center">
        <ul class="menu-list">
          <li class="menu-list-title">Contents</li>

          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li class="menu-list-item-active">
            <a href="/components/avatar/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/components/badge/badge.html">Badge</a>
          </li>
          <li>
            <a href="/components/button/button.html">Button</a>
          </li>
          <li>
            <a href="/components/card/card.html">Card</a>
          </li>
          <li>
            <a href="/components/image/image.html">Image</a>
          </li>
          <li>
            <a href="/components/input/badge.html">Input</a>
          </li>
          <li>
            <a href="/components/textutil/textutil.html">Text utilites</a>
          </li>
          <li><a href="/components/lists/lists.html">Lists</a></li>
          <li>
            <a href="/components/navigation/navigation.html">Navigation</a>
          </li>
          <li>
            <a href="/components/modal/modal.html">Modal</a>
          </li>
          <li>
            <a href="/components/rating/rating.html">Rating</a>
          </li>
          <li>
            <a href="/components/toast/toast.html">Toast</a>
          </li>
          <li>
            <a href="/components/grid/grid.html">Simple Grid</a>
          </li>
        </ul>
      </aside>

      <!-- || Main content starts  -->
      <main class="content flx-col">
        <!-- || Content Header Starts  -->
        <div class="content-heading-lg">Avatar</div>

        <!-- || Content Main starts  -->
        <div class="content-main">
          <p>
            The avatar component is used to reperesent a <b>user</b>. It can be
            used as a profile picture or intials.
          </p>

          <!-- Image Avatar -->

          <div class="content-heading-md">Image Avatar</div>
          <p></p>
          <div class="avatar avatar-xlg">
            <img
              src="/assets/images/avatar-img.jpg"
              alt="circle-image-xlg"
              srcset=""
            />
          </div>

          <div class="avatar avatar-lg">
            <img
              src="/assets/images/avatar-img.jpg"
              alt="circle-image-lg"
              srcset=""
            />
          </div>

          <div class="avatar avatar-md">
            <img
              src="/assets/images/avatar-img.jpg"
              alt="circle-image-md"
              srcset=""
            />
          </div>

          <div class="avatar avatar-sm">
            <img
              src="/assets/images/avatar-img.jpg"
              alt="circle-image-sm"
              srcset=""
            />
          </div>

          <br />

          <div class="avatar-iframe">
            <iframe
              src="https://www.thiscodeworks.com/embed/62060a6da4f5770015a8851a"
              frameborder="0"
            ></iframe>
      
            <br>
          <!-- Text Avatar -->

          <div class="content-heading-md">Text Avatar</div>
          <div class="avatar avatar-xlg bg-orange">
            <p>SKS</p>
          </div>

          <div class="avatar avatar-lg bg-green-dark">
            <p>AKJ</p>
          </div>

          <div class="avatar avatar-md bg-violet">
            <p>CDS</p>
          </div>

          <div class="avatar avatar-sm bg-red">
            <p>SM</p>
          </div>
        </div>

        <!-- || Content footer starts  -->
        <div class="content-footer flx-row">
          <a href="" class="content-footer-prev"
            ><i class="fas fa-angle-left"></i> Alert
          </a>

          <a href="" class="content-footer-next">
            Badge <i class="fas fa-angle-right"></i>
          </a>
        </div>
      </main>
    </div>

    <script src="/documentation/documentation.js"></script>
  </body>
</html>
