<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast | Futbolt UI</title>
    <script src="https://kit.fontawesome.com/0a41da8839.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/components/toast/toast.css" />
</head>

<body>
    <!-- || Container  -->
    <div class="container">
        <!-- || Navbar starts -->
        <nav class="navbar flx-row flx-main-center">
            <div class="navbar-logo">
                <img src="/assets/images/futbolt-lg.png" alt="" loading="eager" />
            </div>
            <div class="navbar-title">Futbolt UI</div>
            <div class="navbar-links">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="#" class="navbar-links-active">Docs</a></li>
                    <li>
                        <a href="https://github.com/sks-21/Futbolt-Component-Library">
                            <i class="fab fa-github"></i> Github</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- || Side Menu starts   -->
        <aside class="menu flx-column flx-main-center">
            <ul class="menu-list">
                <li class="menu-list-title">Getting Started</li>
                <li>
                    <a href="#">Installation</a>
                </li>
                <li>
                    <a href="#">Typography</a>
                </li>
                </li>
                <li>
                    <a href="#">Colors</a>
                </li>

                <li class="menu-list-title">Components</li>
                <li><a href="/components/alert/alert.html">Alert</a></li>
                <li>
                    <a href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li>
                    <a href="/components/badge/badge.html">Badge</a>
                </li>
                <li>
                    <a href="/components/button/button.html">Button</a>
                </li>
                <li>
                    <a href="/components/card/card.html">Card</a>
                </li>
                <li>
                    <a href="/components/image/image.html">Image</a>
                </li>
                <li>
                    <a href="/components/input/input.html">Input</a>
                </li>
                <li>
                    <a href="/components/textutil/textutil.html">Text utilites</a>
                </li>
                <li>
                    <a href="/components/lists/lists.html">Lists</a>
                </li>
                <li>
                    <a href="/components/modal/modal.html">Modal</a>
                </li>
                <li>
                    <a href="/components/navigation/navigation.html">Navigation</a>
                </li>
                <li>
                    <a href="/components/rating/rating.html">Rating</a>
                </li>
                <li class="menu-list-item-active">
                    <a href="/components/toast/toast.html">Toast</a>
                </li>
                <li>
                    <a href="/components/simplegrid/simplegrid.html">Simple Grid</a>
                </li>
            </ul>
        </aside>

        <!-- || Main content starts  -->
        <main class="content flx-col">
            <!-- || Content Header Starts  -->
            <div class="content-heading-lg">Toast</div>

            <!-- || Content Main starts  -->
            <div class="content-main">
                <p>The toast component.</p>
                <br>

                <!-- Simple Toasts-->
                <div class="content-heading-md">Simple Toast</div>
                <br>

                <!-- Toast success  -->
                <div class="flx-row toast-container flx-main-center">
                    <span class="toast-icon-container toast-success">
                        <i class="fas fa-check toast-success-icon"></i>
                    </span>
                    <div class="toast-content">
                        Item is successfully added to the cart!
                    </div>
                    <button classs="toast-dismiss">
                        <i class="fas fa-times-circle toast-dismiss-icon"></i>
                    </button>
                </div>

                <br>
                <!-- Toast Error  -->
                <div class="flx-row toast-container flx-main-center">
                    <span class="toast-icon-container toast-error">
                        <i class="fas fa-check toast-error-icon"></i>
                    </span>
                    <div class="toast-content">
                        Error! Try again
                    </div>
                    <button classs="toast-dismiss">
                        <i class="fas fa-times-circle toast-dismiss-icon"></i>
                    </button>
                </div>

                <br>
                <!-- Toast Info  -->
                <div class="flx-row toast-container flx-main-center">
                    <span class="toast-icon-container toast-info">
                        <i class="fas fa-info-circle toast-info-icon"></i>
                    </span>
                    <div class="toast-content">
                        Your profile has been updated!
                    </div>
                    <button classs="toast-dismiss">
                        <i class="fas fa-times-circle toast-dismiss-icon"></i>
                    </button>
                </div>
                <br>
                <br>

                <!-- || Content footer starts  -->
                <div class="content-footer flx-row">
                    <a href="#" class="content-footer-prev"><i class="fas fa-angle-left"></i> Modal
                    </a>

                    <a href="#" class="content-footer-next">
                        Rating<i class="fas fa-angle-right"></i>
                    </a>
                </div>
        </main>
    </div>

    <script src="/documentation/documentation.js"></script>
</body>

</html>