<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation | Futbolt UI</title>
    <link rel="shortcut icon" href="/assets/images/futbolt-lg.png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/0a41da8839.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/components/component.css" />
</head>

<body>
    <!-- || Container  -->
    <div class="container">
        <!-- || Navbar starts -->
        <nav class="navbar flx-row flx-wrap flx-main-center">
            <div class="navbar-logo">
                <img src="/assets/images/futbolt-lg.png" alt="" loading="eager" class="navbar-logo-img" />
            </div>
            <div class="navbar-title">Futbolt UI</div>
            <div class="navbar-links-container">
                <ul class="navbar-list flx flx-row flx-wrap">
                    <li class="navbar-list-item"><a href="/index.html" class="navbar-link">Home</a></li>
                    <li class="navbar-list-item"><a href="#" class=" navbar-link navbar-link-active">Docs</a></li>
                    <li class="navbar-list-item">
                        <a href="https://github.com/sks-21/Futbolt-Component-Library" class="navbar-link">
                            <i class="fab fa-github"></i> Github</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- || Side Menu starts   -->
        <aside class="menu flx-col flx-main-center">
            <ul class="menu-list">
                <li class="menu-list-title">Getting Started</li>
                <li>
                    <a href="/documentation/documentation.html">Installation</a>
                </li>
                <li>
                    <a href="/typography/typography.html">Typography</a>
                </li>
                <li>
                    <a href="/colorspage/colorspage.html">Colors</a>
                </li>

                <li class="menu-list-title">Components</li>
                <li><a href="/components/alert/alert.html">Alert</a></li>
                <li>
                    <a href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li>
                    <a href="/components/badge/badge.html">Badge</a>
                </li>
                <li>
                    <a href="/components/button/button.html">Button</a>
                </li>
                <li>
                    <a href="/components/card/card.html">Card</a>
                </li>
                <li>
                    <a href="/components/image/image.html">Image</a>
                </li>
                <li>
                    <a href="/components/input/input.html">Input</a>
                </li>
                <li>
                    <a href="/components/list/list.html">Lists</a>
                </li>
                <li>
                    <a href="/components/modal/modal.html">Modal</a>
                </li>
                <li class="menu-list-item-active">
                    <a href="#">Navigation</a>
                </li>
                <li>
                    <a href="/components/rating/rating.html">Rating</a>
                </li>
                <li>
                    <a href="/components/simplegrid/simplegrid.html">Simple Grid</a>
                </li>
                <li>
                    <a href="/components/textutils/textutils.html">Text utilites</a>
                </li>
                <li>
                    <a href="/components/toast/toast.html">Toast</a>
                </li>

            </ul>
        </aside>

        <!-- || Main content starts  -->
        <main class="content flx-col">
            <!-- || Content Header Starts  -->
            <div class="content-heading-lg">Navigation</div>

            <!-- || Content Main starts  -->
            <div class="content-main">
                <p>The responsive navigation or the navbar, includes support for branding, navigation, and more.</p>

                <!-- Simple Navigation-->
                <div class="content-heading-md">Simple Navigation</div>
                <p>The simple navigation offers Navbar heading and quick links for navigaion.</p>
                <div class="fbui-component-container-x">
                    <nav class="nav flx-row flx-main-center flx-wrap">
                        <div class="nav-title">Navbar Heading</div>
                        <div class="nav-links-container">
                            <ul class="flx-row flx-wrap nav-list">
                                <li class="nav-list-item"><a href="#" class="nav-link nav-link-active">Link 1</a></li>
                                <li class="nav-list-item"><a href="#" class="nav-link">Link 2</a></li>
                                <li class="nav-list-item"><a href="#" class="nav-link"> Link 3</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="iframe-container"><iframe src="https://www.thiscodeworks.com/embed/6214d4974ef606001531dc49"
                        style="width: 100%; height: 216px;" frameborder="0"></iframe></div>
                <!-- || Navigation with users  -->
                <div class="content-heading-md">Navigation with user profile</div>
                <p>This navigation offers user profile and quick links for navigaion. It can be used where the user
                    login/signup feature is needed.</p>
                <div class="fbui-component-container-x">
                    <nav class="nav flx-row flx-main-center">
                        <div class="nav-title">Navbar Heading</div>
                        <div class="nav-links-container flx-row flx-wrap flx-center">
                            <ul class=" nav-list">
                                <li class="nav-list-item"><a href="#" class="nav-link">Link 1</a></li>
                                <li class="nav-list-item"><a href="#" class="nav-link nav-link-active">Link 2</a></li>
                                <li class="nav-list-item"><a href="#" class="nav-link"> Link 3</a></li>
                            </ul>
                            <div class="nav-user flx-row flx-center pd-left-0">
                                <div> <a href="#" class="nav-user-link"> Username</a> </div>
                                <a href="#" class="pd-left-0">
                                    <span class="avatar avatar-sm">
                                        <img src="/assets/images/avatar-img.jpg" alt="circle-image-sm" srcset="" />
                                    </span>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="iframe-container">
                    <iframe src="https://www.thiscodeworks.com/embed/6214d3cf4ef606001531dc47"
                        style="width: 100%; height: 320px;" frameborder="0"></iframe>
                </div>

                <!-- || Navigation with search bar  -->
                <div class="content-heading-md">Navigation with search bar</div>
                <p>The navbar with icons and search bar offers a complete navigation component.</p>
                <div class="fbui-component-container-x">
                    <nav class="nav flx-row flx-main-center flx-space-between">
                        <div class="nav-title nav-search-title">Navbar Heading</div>
                        <div class="flx-row flx-center nav-search">
                            <input type="text" id="std-search" class="nav-search-bar" placeholder="Search"><span
                                class="nav-search-span"><i class="fas fa-search nav-search-icon"></i></span>
                        </div>
                        <div class="nav-links-container-2 flx-row flx-center flx-wrap">
                            <button class="btn btn-solid nav-btn margin-y-8">Login</button>
                            <ul class="nav-list flx-row flx-main-center pd-8">
                                <li class="nav-list-item">
                                    <a href="#" class="nav-link">
                                        <div class="badge-container nav-icon-container">
                                            <div class="badge-num">9+</div>
                                            <i class="far fa-heart nav-icon"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-list-item">
                                    <a href="#" class="nav-link">
                                        <div class="badge-container nav-icon-container">
                                            <div class="badge-num">9+</div>
                                            <i class="fas fa-shopping-cart nav-icon"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="iframe-container"><iframe src="https://www.thiscodeworks.com/embed/6214d4724ef606001531dc48"
                        style="width: 100%; height: 437px;" frameborder="0"></iframe></div>

                <!-- || Content footer starts  -->
                <div class="content-footer flx-row">
                    <a href="/components/modal/modal.html" class=" footer-link"><i class="fas fa-angle-left"></i>
                        Modal
                    </a>

                    <a href="/components/rating/rating.html" class="  footer-link">
                        Rating<i class="fas fa-angle-right"></i>
                    </a>
                </div>
        </main>
    </div>

    <script src="/documentation/documentation.js"></script>
</body>

</html>