/* || Navbar Styles */
.nav {
  background-color: var(--color-navbar);
  box-shadow: 2px 2px 5px var(--color-gray);
  color: var(--color-text);
  font-size: 2rem;
  padding: 1.6rem;
  width: 100%;
  flex-wrap: wrap;
}

.nav-title {
  flex-grow: 1;
  font-size: 3.2rem;
  font-weight: bold;
}

.nav-links-container {
  margin-left: auto;
  margin-right: 3.2rem;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  display: inline-block;
  margin: 0 4px;
}

.nav-link {
  color: var(--color-text);
  text-decoration: none;
  padding: 1.6rem;
}

.nav-link-active {
  color: var(--color-primary);
  font-weight: bold;
  background-color: var(--color-primary-light);
}

.nav-link:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.nav-user-link:hover {
  color: var(--color-primary)
}

.nav-user-link {
  color: var(--color-text);
  text-decoration: none;
  padding-left: 1.6rem;
}

.pd-right-0 {
  padding-right: 0;
}

.pd-left-0 {
  padding-left: 0;
}

/* || Nav Search  */
.nav-search {
  border: 2px solid var(--color-text);
  border-radius: 5px;
  padding: 8px;
  width: 30rem
}

.nav-search:focus {
  border: 2px solid var(--color-red);
}

.nav-search-bar {
  width: 100%;
  background-color: inherit;

}

.nav-search-bar:focus {
  border: none;
  outline: none;
}

.nav-search-icon {
  cursor: pointer;
}

.nav-search-title {
  flex-grow: 0;
}

.nav-links-container-2 {
  margin-right: 3.2rem;
}


/* || Navigation with icon  */

.nav-icon-container {
  margin: 0;
  font-size: 2.5rem;
  position: relative;
  bottom: 7px;
}

.nav-icon {
  font-size: 100%;
}

.badge-num {
  left: 20px;
  top: 10px;
}

.nav-btn {
  margin: 0;
  border-radius: 0px;
}