@import "/components/component.css";

/* || Star rating  */
.rating-input {
    height: 0;
    margin: 0;
    width: 0;
}

.rating-star-icon {
    font-weight: 900;
    color: var(--color-gray-light);
    cursor: pointer;
}

.rating-star-icon:hover {
    color: var(--color-yellow);
}

.rating-star-active {
    color: var(--color-yellow);
}

/* || Badge rating  */
.rating-badge {
    padding: 5px 1rem;
    border-radius: 5px;
    width: fit-content;
    background-color: var(--color-gray-light);
}

.rating-val {
    font-weight: bold;
}