<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alert | Futbolt UI</title>
  <script src="https://kit.fontawesome.com/0a41da8839.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/assets/images/futbolt-lg.png" type="image/x-icon" />
  <link rel="stylesheet" href="/components/component.css" />
</head>

<body>
  <!-- || Container  -->
  <div class="container">

    <!-- || Navbar starts -->
    <nav class="navbar flx-row flx-main-center">
      <div class="navbar-logo">
        <img src="/assets/images/futbolt-lg.png" alt="" loading="eager" class="navbar-logo-img" />
      </div>
      <div class="navbar-title">Futbolt UI</div>
      <div class="navbar-links-container flx-row flx-wrap">
        <ul class="navbar-list">
          <li class="navbar-list-item"><a href="/index.html" class="navbar-link">Home</a></li>
          <li class="navbar-list-item"><a href="#" class=" navbar-link navbar-link-active">Docs</a></li>
          <li class="navbar-list-item">
            <a href="https://github.com/sks-21/Futbolt-Component-Library" class="navbar-link">
              <i class="fab fa-github"></i> Github</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- || Side Menu starts   -->
    <aside class="menu flx-col flx-main-center">
      <ul class="menu-list">
        <li class="menu-list-title">Getting Started</li>
        <li>
          <a href="/documentation/documentation.html">Installation</a>
        </li>
        <li>
          <a href="/typography/typography.html">Typography</a>
        </li>
        <li>
          <a href="/colorspage/colorspage.html">Colors</a>
        </li>

        <li class="menu-list-title">Components</li>
        <li class="menu-list-item-active">
          <a href="#">Alert</a>
        </li>
        <li>
          <a href="/components/avatar/avatar.html">Avatar</a>
        </li>
        <li>
          <a href="/components/badge/badge.html">Badge</a>
        </li>
        <li>
          <a href="/components/button/button.html">Button</a>
        </li>
        <li>
          <a href="/components/card/card.html">Card</a>
        </li>
        <li>
          <a href="/components/image/image.html">Image</a>
        </li>
        <li>
          <a href="/components/input/input.html">Input</a>
        </li>
        <li>
          <a href="/components/list/list.html">Lists</a>
        </li>
        <li>
          <a href="/components/modal/modal.html">Modal</a>
        </li>
        <li> <a href="/components/navigation/navigation.html">Navigation</a>
        </li>
        <li>
          <a href="/components/rating/rating.html">Rating</a>
        </li>
        <li>
          <a href="/components/simplegrid/simplegrid.html">Simple Grid</a>
        </li>
        <li>
          <a href="/components/textutils/textutils.html">Text utilites</a>
        </li>
        <li>
          <a href="/components/toast/toast.html">Toast</a>
        </li>

      </ul>
    </aside>

    <!-- || Main content starts  -->
    <main class="content flx-col">
      <!-- || Content Header Starts  -->
      <div class="content-heading-lg">Alert</div>

      <!-- || Content Main starts  -->
      <div class="content-main">
        <p>
          An alert displays a short, important message in a way that attracts the user's attention without interrupting
          the user's task.
          It provides contextual feedback and communicates a state that affects a system, feature or page.
        </p>
        <div class="content-heading-md">Basic Alert</div>
        <p>
          Basic alerts are available for any length of text without a close button. It's available in four types - <span
            class="txt-secondary fw-700"> primary alert, error alert, success alert and warning alert.</span>
        </p>
        <p>To use this component, copy the code snippet, where class <span class="code-snippet">alert</span> is used for
          basic stucture and <span class="code-snippet">alert</span> <span class="code-snippet">alert-primary</span>,
          <span class="code-snippet">alert-secondary</span>,
          <span class="code-snippet">alert-error</span>,
          <span class="code-snippet">alert-warning</span> for
          different alert types.
        </p>
        <div class="fbui-component-container-y">
          <!-- Simple Alert -->
          <div class="alert alert-primary">This is a simple primary alert</div>
          <div class="alert alert-error">This is a simple error alert</div>
          <div class="alert alert-success">This is a simple success alert</div>
          <div class="alert alert-warning">This is a simple warning alert</div>
        </div>

        <div class="iframe-container">
          <iframe src="https://www.thiscodeworks.com/embed/6214a6394ef606001531dbed" style="width: 100%; height: 140px;"
            frameborder="0"></iframe>
        </div>

        <div class="content-heading-md">Alert with icon</div>
        <p>These are alerts with icons adding more visual appeal. If you wish to have a info alert with different icon,
          just change the icon. Rest component remains the smae</p>
        <div class="fbui-component-container-y">
          <!-- Alert with icon -->
          <div class="alert alert-primary">
            <i class="fas fa-info-circle"></i>
            <p> This is a info alert with icon </p>
          </div>

          <div class="alert alert-error">
            <i class="fas fa-exclamation-circle"></i>
            <p> This is an error alert with icon </p>
          </div>

          <div class="alert alert-success">
            <i class="fas fa-check-circle"></i>
            <p>This is a success alert with icon </p>
          </div>

          <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            <p> This is a warning alert with icon </p>
          </div>
        </div>

        <div class="iframe-container">
          <iframe src="https://www.thiscodeworks.com/embed/6214aa184ef606001531dbf3" style="width: 100%; height: 333px;"
            frameborder="0"></iframe>
        </div>

        <!-- Alert with dismissing button -->
        <div class="content-heading-md">Alert with a dismiss button</div>
        <p>These alerts can be dismissed on clicking the dismiss button. User has the complete freedom to decide the
          functionality locally.</p>
        <div class="fbui-component-container-y">

          <div class="alert alert-primary">
            <i class="fas fa-info-circle"></i>
            <p>Hey, this info alert can be dismissed!</p>
            <button>
              <i class="fas fa-times-circle"></i>
            </button>
          </div>

          <div class="alert alert-success">
            <i class="fas fa-check-circle"></i>
            <p> Hey, this success alert can be dismissed!</p>
            <button>
              <i class="fas fa-times-circle"></i>
            </button>
          </div>
        </div>

        <div class="iframe-container">
          <iframe src="https://www.thiscodeworks.com/embed/6214b2894ef606001531dbf7" style="width: 100%; height: 281px;"
            frameborder="0"></iframe>
        </div>
      </div>
      <!-- || Content main ends -->
      <!-- || Content footer starts  -->
      <div class="content-footer flx-row">
        <a href="/colorspage/colorspage.html" class=" footer-link"><i class="fas fa-angle-left"></i> Colors
        </a>

        <a href="/components/avatar/avatar.html" class="  footer-link">
          Avatar <i class="fas fa-angle-right"></i>
        </a>
      </div>
    </main>
  </div>

  <script src="/documentation/documentation.js"></script>
</body>

</html>