/* || Imported style guide in document.html */

.container {
  background-color: var(--color-background);
  width: 100%;
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: 7rem 1fr;
  grid-template-areas:
    "nav nav"
    "aside main";
  grid-gap: 8px;
}

/* || Navbar Styles */
.navbar {
  grid-area: nav;
  background-color: var(--color-navbar);
  box-shadow: 2px 2px 5px var(--color-gray);
  color: var(--color-secondary);
  font-size: 2rem;
  padding: 1.6rem;
  width: 100%;
  position: fixed;
  height: 7rem;
  z-index: 10;
}

.navbar-logo {
  margin-left: 1.6rem;
}

.navbar-logo img {
  height: 6rem;
  margin-right: 1rem;
}

.navbar-title {
  flex-grow: 1;
  font-size: 3.2rem;
  font-weight: bold;
}

.navbar-links {
  margin-left: auto;
  margin-right: 3.2rem;
}

.navbar-links ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 1.6rem;
}

.navbar-links a {
  color: var(--color-secondary);
  text-decoration: none;
}

a.navbar-links-active {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
}

.navbar-links a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* || Aside Styles  */
.menu {
  background-color: var(--color-navbar);
  font-size: 2rem;
  grid-area: aside;
  overflow-y: auto;
  height: 95vh;
  position: fixed;
  top: 7rem;
}

.menu-list {
  list-style: none;
  width: 100%;
  padding: 0rem 2.4rem;
  /* margin-bottom: 3rem; */
  padding-bottom: 3.5rem;
}

.menu-list li {
  color: var(--color-text);
  padding: 1rem;
}

li.menu-list-title {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 2.4rem;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-secondary);
  margin-top: 1rem;
  margin-bottom: 5px;
}

.menu-list a {
  text-decoration: none;
  color: inherit;
}

.menu-list a:hover {
  color: var(--color-primary);
  font-weight: bold;
}

li.menu-list-item-active {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  border-radius: 5px;
  font-weight: bold;
}

aside::-webkit-scrollbar {
  width: 8px;
}

aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

aside::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* || Main Content Styles */
.content {
  font-size: 1.6rem;
  grid-area: main;
  color: var(--color-text);
  padding: 1.2rem 2.4rem;
  padding-right: 10rem;
}

.content-heading-lg {
  font-size: 4.8rem;
  font-weight: bold;
}

.content-heading-md {
  font-size: 2.4rem;
  font-size: bold;
}

.content-footer {
  justify-content: space-between;
}

.content-footer a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}